* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url('./assets/bull.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.wrapper > h1 {
  color: rgb(15, 247, 45);
  margin-bottom: 10px;
  font-size: 2.5rem;
}

.wrapper > h3 {
  color: rgb(15, 247, 45);
  margin-bottom: 10px;
  font-style: italic;
}

.form-wrapper > form {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.form-wrapper > form > label {
  color: rgb(15, 247, 45);
  margin: 10px 0;
}

Form > input {
  text-align: center;
  border: none;
  font-size: 1.2rem;
  margin: 10px 0;
  height: 40px;
}

Label {
  font-size: 1.4rem;
}

Button {
  color: black;
  font-weight: bold;
  background: rgb(15, 247, 45);
  outline: none;
  border: none;
  border-radius: 5px;
  height: 40px;
  font-size: 1.4rem;
  cursor: pointer;
}

button:hover {
  color: rgb(15, 247, 45);
  background-color: black;
  transition: 0.2s;
}

.hidden {
  display: none;
}
